<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pruu a HTTP dump tool and request simulator">
    <title>Pruu</title>
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-73114810-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-73114810-2');
</script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">        
    <link rel="stylesheet" href="/assets/css/layouts/log.css">
</head>
<body class="bckColor">
<div class="topo">
    <img src="/assets/img/common/4866-200.png" width="40px"/>
    
</div>
<div>
    <div id="menu" class="menu-bar" style="height: 0px;">
        <button onclick="filter('DEBUG')" class="button-debug">DEBUG</button>
        <button  onclick="filter('INFO')" class="button-info">INFO</button>
        <button  onclick="filter('WARN')" class="button-warn">WARN</button>
        <button  onclick="filter('ERROR')" class="button-error">ERROR</button>
        <button id="clear-button">DELETE</button>        
    </div>
    <div class="open-menu">
        <div id="btnOpenMenu" class="open-menu-button">menu</div>
    </div>
    
    <div id="logs" class="logDisplay">
    
    {{range .logs}}    
        <div data-id="{{.ID}}" class="log-line" data-level="{{.Level}}">
            <span class="text date">{{.CreatedAt.Format "2006-01-02T15:04:05"}}</span>&nbsp;
            <span class="text level-{{.Level}}">{{.Level}}</span>&nbsp;
            {{ range $key, $value := .Tags }}
                <span class="text tag">{{ $key }}={{ $value }}</span>
            {{ end }}
            <span class="text message">{{.Value}}</span>
        </div>        
    {{end}}
    </div>    
    <div id="new_logs_notification" class="new_logs" onclick="resume()">
        <p onclick="resume()"></p>
    </div>
</div>

</div>

<script>
    var socketUrl = "ws://"+window.location.host+"/ws"+window.location.pathname;
    function onReceive(message){
        let msg = JSON.parse(message.data);
        var tmpl = [msg].map(l => `
        <div data-id="${l.id}" class="log-line" data-level="${l.level}">
            <span class="text date">${l.created_at}</span>&nbsp;
            <span class="text level-${l.level}">${l.level}</span>&nbsp;
            ${Object.keys(l.tags).map(k => `<span class="text tag">${k}=[${l.tags[k].join(" ")}]</span>`)}
            <span class="text message">${l.value}</span>
        </div>  
        `)
        var el = createElementFromHTML(tmpl.join(" "))
        logView.appendChild(el[0])
    }

    function onClose(){
        console.log("socket closed, trying to reconnect...");
        var socket = new WebSocket(socketUrl); 
        socket.onmessage = onReceive;
        socket.onclose = onClose;
    }

    var socket = new WebSocket(socketUrl);
    socket.onmessage = onReceive;
    socket.onclose = onClose;

    const logs = document.getElementById('logs');
    const not = document.querySelector("#new_logs_notification > p");
    document.getElementById("clear-button").onclick = clear;    
    document.getElementById("btnOpenMenu").onclick = function (){
        var menu = document.getElementById("menu");
        if(menu.style.height === "0px"){
            menu.style.height = "60px"
        }else{
            menu.style.height = "0px"
        }
    }

    var logView = document.getElementById("logs")
    function clear(){        
        fetch(window.location.href, {method: 'DELETE'}).then((_ => location.reload()));
    }
    function createElementFromHTML(htmlString) {
        var div = document.createElement('div');        
        div.innerHTML = htmlString.trim();

        // Change this to div.childNodes to support multiple top-level nodes
        return div.children;
    }
   
    function scrollbarVisible(element) {
        return element.scrollHeight > window.innerHeight;
    }

    var filtered = {}
    function filter(level){
        if(filtered[level]){
            delete filtered[level]
            //remove filter
            var toHide = document.querySelectorAll(`.log-line`)
            for(var i=0;i<toHide.length;i++){
                toHide[i].style.display = "";
            }
            
            return;    
        }else{
            filtered={};
        }
        
        
        filtered[level] = true;
        var toHide = document.querySelectorAll(`.log-line`)
        for(var i=0;i<toHide.length;i++){
            toHide[i].style.display = "none";
        }
        var toHide = document.querySelectorAll(`.log-line[data-level=${level}]`)
        for(var i=0;i<toHide.length;i++){
            toHide[i].style.display = "";
        }
    }
    
</script>



</body>
</html>
