<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pruu a HTTP dump tool and request simulator">
    <title>Pruu</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/email-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/assets/css/layouts/log.css">
        <!--<![endif]-->
        <style>
        
        #clear-button{
            width: 100%;
            background-color: #095da5;
            color: white;
            border: none;
            text-align: center;
        }
        
        .logDisplay {            
            color:white;
            margin:0px;
        }

        </style>
</head>
<body class="bckColor">
<div class="topo">
    <img src="/assets/img/common/4866-200.png" width="40px"/>
    
</div>
<div>
    <button id="clear-button">Delete logs</button>
    <p id="logs" class="logDisplay">
    {{range .logs}}    
        <span class="text date">{{.CreatedAt.Format "2006-01-02T15:04:05"}}</span>&nbsp;
        <span class="text level-{{.Level}}">{{.Level}}</span>&nbsp;
        {{ range $key, $value := .Tags }}
            <span class="text tag">{{ $key }}={{ $value }}</span>
        {{ end }}
        <span class="text message">{{.Value}}</span><br/>
    {{end}}
    </p>
</div>
</div>

<script>
    document.getElementById("clear-button").onclick = clear;    

    function clear(){
        console.log("Bla")
        fetch(window.location.href, {method: 'DELETE'}).then((_ => location.reload()));
    }
    function createElementFromHTML(htmlString) {
        var div = document.createElement('div');
        div.innerHTML = htmlString.trim();

        // Change this to div.childNodes to support multiple top-level nodes
        return div.children; 
    }
    
</script>



</body>
</html>
